body {
    margin: 0
}

.show-grid [class*="span"] {
    border-color: black;
    background-color: #eee;
    text-align: center;
    min-height: 30px;
    border-radius: 3px;
    line-height: 30px;
    margin-bottom: 20px;
}

.card.image {
    width: 350px;
    position: relative;
    display: inline-block;
 //   height: 150px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card .card-heading.simple {
    font-size: 17px;
    color: #fff;
    line-height: 26px;
    background-color: #555;
}

.card-body {
    color: #777;
    margin-top: 10px;
}

.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav > li > a {
    display: block;
    background-color: #eee;
}

.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}

.title {
    border-top: 2px solid #fbfbfb;
    font-size: 20px

}

.wrap .row-fluid [class*="span"] {
    margin-left: 0px;
    margin-right: 1%;
    cursor: pointer;
    margin-bottom: 5px;
}

.wrap .row-fluid .active {
    color: white;
    background: #4d90fe;
}

.title-command {
    padding-left: 15px;
}

input[type="checkbox"] {
    margin: 0 0 0 10px;
    vertical-align: middle;
}

input[type="text"] {
    border-radius: 5px;
    margin-bottom: 0;
    width: 88%;
}

#search {
    display: block;
    margin: 0 auto;
}

label {
    margin-bottom: 20px;
}

.pull-name input {
    border: none;
    padding: 0;
    margin: 0;
    min-height: 0;
    box-shadow: none;
    transition: none;
    border-top: none;
    border-radius: 0;
    color: #777;
}

.pull-name input:hover, .pull-name input:focus {
    border: none;
    box-shadow: none;
}
